<mat-toolbar class="topbar gap-10">
  <button
    mat-icon-button
    (click)="toggleMobileNav.emit()"
    class="d-flex justify-content-center"
  >
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>

  <div class="common-info">
    <div class="user-block">
      <span class="user-label">Ім'я адміна:</span>
      <span class="user-title">{{ user.username }}</span>
    </div>
    <button mat-button (click)="logout()">
      <mat-icon class="d-flex align-items-center">
        <i-tabler name="logout" class="icon-18 d-flex"></i-tabler
      ></mat-icon>
      Вихід
    </button>
  </div>
</mat-toolbar>
