<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Список категорій</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive">
      @if(isLoaded) {

      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Id</th>
          <td mat-cell *matCellDef="let element">
            <span class="text-dark f-w-400">{{ element.category_id }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
            Назва
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="text-dark f-w-400">{{ element.title }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Опис</th>
          <td mat-cell *matCellDef="let element">
            <span class="text-dark f-w-400">{{ element.description }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Дії</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="editCategory(element.category_id)">
              <mat-icon matTooltip="Оновити категорію">edit</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="deleteCategory(element.category_id)"
            >
              <mat-icon matTooltip="Видалити категорію">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      } @else {
      <div class="empty">Замовлень не знайдено</div>
      }
    </div>
  </mat-card-content>
</mat-card>
